<?xml version="1.0" encoding="UTF-8"?>
<!--  legacy file -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.1.xsd" >

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location"><value>classpath:project.properties</value></property>  
    </bean>
    
    <bean name="abstractCDEDumper" class="gov.nih.nci.cbiit.cadsr.datadump.AbstractCDEDumper" abstract="true">
        <property name="dbURL" value="${db.url}" />
        <property name="username" value="${db.userid}" />
        <property name="password" value="${db.password}" />
    </bean>
    
    <bean name="xmlCDEDumper" class="gov.nih.nci.cbiit.cadsr.datadump.XMLCDEDumper" parent="abstractCDEDumper" >
        <property name="fileNamePrefix" value="xml_cde_" />
        <property name="xmldir" value="${xmldir}" />
    </bean>
</beans>